[submodule "mininet"]
	path = mininet
	url = https://github.com/mininet/mininet.git
[submodule "B4PaperReading"]
	path = B4PaperReading
	url = https://github.com/LogCreative/B4PaperReading.git
[submodule "ryu"]
	path = ryu
	url = https://github.com/faucetsdn/ryu.git
